@media (max-width: 1280px) {
  .hero-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 80%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 25px;
  }

  .hero-description {
    font-size: 18px;
  }

  .krusty-krab-logo-small {
    width: 50px; /* Уменьшаем размер логотипа */
  }
}

@media (max-width: 960px) {
  .hero-title {
    font-size: 30px;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .hero-description {
    font-size: 16px;
  }

  .krusty-krab-logo-small {
    width: 40px; /* Уменьшаем размер логотипа */
  }
}

@media (max-width: 600px) {
  .hero-content {
    top: 70%;
    padding: 10px;
    max-width: 100%;
  }

  .hero-title {
    font-size: 25px;
  }

  .hero-subtitle {
    font-size: 18px;
  }

  .hero-description {
    font-size: 14px;
  }

  .krusty-krab-logo-small {
    width: 30px; /* Уменьшаем размер логотипа */
  }
}
