.admin-page-container {
  min-height: 100vh;
  font-family: "Amatic SC", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.admin-page-title {
  font-size: 4rem;
  color: #01263a;
  font-family: "Amatic SC", cursive;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: beige;
  opacity: 0.9;
  border: 2px solid black;
  border-radius: 50px;
  width: fit-content; /* Изменяем ширину на основе содержимого */
  padding: 20px; /* Добавляем внутренний отступ */
}

.add-product-category {
  display: flex;

  flex-wrap: wrap; /* Добавляем обертку для адаптивности */
  justify-content: center;
}

.add-product-category > div {
  width: 100%; /* Ширина на полную ширину на мобильных устройствах */
  max-width: 500px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: antiquewhite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-product-category > div:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

button {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  background-color: #f4900c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #e58900;
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .add-product-category {
    flex-direction: row; /* Изменяем направление на горизонтальное для больших экранов */
    gap: 40px; /* Увеличиваем промежуток между блоками */
  }

  .add-product-category > div {
    flex: 1 1 0; /* Расширяем блоки, чтобы они занимали равные части ряда */
  }
}
